.nav-container{
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.content{
  display: flex;
  align-items: start;
  justify-content: center;
}
.nav{
  padding: 20px;
}

.mat-drawer-container {
  height: 100%;
}
