

<h2>{{ title }}</h2>
<hr>
<table *ngIf="users" class="table table-striped">
  <thead class="class table-light">
    <tr>
      <th scope = "col">ID</th>
      <th scope = "col">Name</th>
      <th scope = "col">Email</th>
      <th></th>
    </tr>
  </thead>
  <tbody></tbody>
  <tr *ngFor = "let user of users; let i =index">
    <td>{{user.id}}</td>
    <td>{{user.firstName}} {{user.lastName}}</td>
    <td>{{user.email}}</td>
    <td>
      <a [routerLink]="['/user', user.id]">
        <button type="button" class="button btn btn-primary">View</button>
      </a>
    </td>
  </tr>
</table>
